
@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Regular.eot');
    src: url('fonts/Barlow-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

main {
    font-family: Barlow; 
}

div.top {
    padding: 0.5rem;
}

div.top span.title {
    font-weight: bold;
    font-size: 2rem;
    width: 24rem;
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}

div.top span.stats {
}

span.stat {
    display: inline-block;
    margin-right: 1rem;
    background-color: #eee;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

span.stat span.value {
    display: block;    
    text-align: center;
    vertical-align: top;
}

span.stat span.label {
    display: block;    
    text-align: center;
    vertical-align: bottom;
}

div.node {
    width: 24rem;
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;    
    background-color: #eee;
    vertical-align: top;
    border-radius: 0.5rem;
}

div.component {
    width: 22.5rem;
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    padding: 0.25rem;
    vertical-align: top;
    border-radius: 0.25rem;
}

div.meta {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

div.meta span.nodeId {
    font-weight: bold;
}

div.meta span {
    margin: 0.25rem;
}

div.component span {
    display: inline-block;
}

div.component span.status {
    width: 4rem;
}

div.component span.req {
    width: 3rem;
}

div.component span.time {
	width: 3rem;
}

.color-0 {
    background-color: #ABBEEB;
}

.color-1 {
    background-color: #fff4e4;
}

.color-2 {
    background-color: #f7e8a4;
}

.color-3 {
    background-color: #fcb97d;
}

.color-4 {
    background-color: #c6b89e;
}

.color-5 {
    background-color: #aaba9e;
}

.color-6 {
    background-color: #f8bae5;
}

.color-7 {
    background-color: #e0c1b3;
}

.color-8 {
    background-color: #ade969;
}

.color-9 {
    background-color: #6efafb;
}
